/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
    background: #242323;
}




body {

	
}



#container { 
    position: relative;
    width:800px;
    height: 750px;
    max-width: 800px;                 
    margin: auto;
    padding: 20px;
}

span.text1{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 500px;
    transition: all .25s;      
}

span.text2{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 500px;
    transition: all .25s;      
}

span.text3{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 10px;
    bottom: 700px;
    transition: all .25s;      
}

span.text4{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 10px;
    bottom: 700px;
    transition: all .25s;      
}

span.text5{
    font-size: 2em;
    line-height: 2em;
    color:crimson;
    position: absolute;
    left: 5px;
    bottom: 500px;
    transition: all .25s;      
}

span.text6{
    font-size: 2em;
    color:crimson;
    position: absolute;
    left: 5px;
    bottom: 400px;
    transition: all .25s;      
}



span.horizontal1{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 500px;
    transition: all .25s;      
}

span.horizontal2{
    font-size: 20em;
    color:antiquewhite;
    position: absolute;
    left: 25px;
    bottom: 400px;
    transition: all .25s;      
}

span.horizontal3{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 25px;
    bottom: 400px;
    transform: rotate(90deg);
    transition: all .25s;      
}


span.horizontal4{
    font-size: 10em;
    color:antiquewhite;
    position: absolute;
    left: 10px;
    bottom: 800px;
    transition: all .25s;      
}



#backgrounds:hover .horizontal1{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 500px;
    transition: all .25s;
    
}

#backgrounds:hover horizontal2{
    font-size: 20em;
    color:antiquewhite;
    position: absolute;
    left: 25px;
    bottom: 400px;
    transition: all .25s;      
}

#backgrounds:hover horizontal3{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 25px;
    bottom: 400px;
    transform: rotate(90deg);
    transition: all .25s;      
}


#backgrounds:hover horizontal4{
    font-size: 10em;
    color:antiquewhite;
    position: absolute;
    left: 10px;
    bottom: 800px;
    transition: all .25s;      
}








span.heartcard10block{
    font-size: 15em;
    color:antiquewhite;
    position: absolute;
    left: 550px;
    bottom: 260px;
    transition: all .5s;
}

span.heartcard10{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 250px;
    opacity: 0;
    transition: all .5s;
    
}

#one:hover .heartcard10 {
    left:425px;
    transform: scale(1.25) rotate(-60deg);
    opacity:1;
    transition: all .5s;
    
}
#one:hover .heartcard10block {
    left:425px;
    transform: scale(1.25) rotate(-60deg);
    opacity:1;
    transition: all .5s;
    
}






span.heartcardJblock{
    font-size: 15em;
    color:antiquewhite;
    position: absolute;
    left: 550px;
    bottom: 260px;
    transition: all .5s;
}

span.heartcardJ{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 250px;
    opacity: 0;
    transition: all .5s;
    
}

#two:hover .heartcardJblock {
    left:425px;
    transform: scale(1.25) rotate(-40deg);
    opacity:1;
    transition: all .5s;
}


#two:hover .heartcardJ {
    left:425px;
    transform: scale(1.25) rotate(-40deg);
    opacity:1;
    transition: all .5s;
}






span.heartcardQblock{
    font-size: 15em;
    color:antiquewhite;
    position: absolute;
    left: 550px;
    bottom: 260px;
    transition: all .5s;
}

span.heartcardQ{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 250px;
    opacity: 0;
    transition: all .5s;
    
}

#three:hover .heartcardQblock {
    left:450px;
    transform: scale(1.25) rotate(-30deg);
    opacity:1;
    transition: all .5s;
    
}

#three:hover .heartcardQ {
    left:450px;
    transform: scale(1.25) rotate(-30deg);
    opacity:1;
    transition: all .5s;
    
}





span.heartcardKblock{
    font-size: 15em;
    color:antiquewhite;
    position: absolute;
    left: 550px;
    bottom: 260px;
    transition: all .5s;
}

span.heartcardK{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 250px;
    opacity: 0;
    transition: all .5s;
    
}

#four:hover .heartcardKblock {
    left:475px;
    transform: scale(1.25) rotate(-15deg);
    opacity:1;
    transition: all .5s;
}

#four:hover .heartcardK {
    left:475px;
    transform: scale(1.25) rotate(-15deg);
    opacity:1;
    transition: all .5s;
}






span.heartcard1block{
    font-size: 15em;
    color:antiquewhite;
    position: absolute;
    left: 550px;
    bottom: 260px;
    transition: all .5s;
}

span.heartcard1{
    font-size: 20em;
    color:crimson;
    position: absolute;
    left: 550px;
    bottom: 250px;
    transition: all .5s;
    
}

span.heartbump1{
    font-size: 10em;
    color:crimson;
    position: absolute;
    left: 600px;
    bottom: 260px;
    opacity: 0;
    transition: all .5s;
    animation: pulse 0.25s linear infinite;
}


@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
        
    100%{
        transform: scale(1.5);
    }  
        
    }



#five:hover .heartcard1block {
    transform: scale(1.25);
    opacity:1;
    transition: all .5s;
    
}

#five:hover .heartcard1 {
      transform: scale(1.25);
    opacity:1;
    transition: all .5s; 

}

#five:hover .heartbump1 {
    transform: scale(1.25);
    opacity:1;
    transition: all .5s; 

}



